@model List<UserRoles>
@{
    ViewData["Title"] = "Create Tag";
}
<div class="container align-items-center my-3">
	<ul class="list-group">
		<li class="list-group-item active">Available Roles</li>
	@{
		foreach(var item in Model) {
			<li class="list-group-item">@item.UserRoleName</li>	
		}
	}

	</ul>
</div>


<h4 class="px-3">Create A Role</h4>

<div class="container align-items-center">
	<form method="post" asp-controller="Admin" asp-action="CreateRolePost">
		<div class="form-floating mb-3">
			<input name="roleName" id="roleName" class="form-control" />
			<label class="form-label" for="roleName">Role Name</label>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


