
@model Tag
@{
    ViewData["Title"] = "Create Tag";
}

<div class="container align-items-center">
	<form method="post" asp-controller="Home" asp-action="CreateTagPost">
		<div class="form-floating mb-3">
			<input asp-for="TagName" class="form-control" />
			<label class="form-label" asp-for="TagName">Tag Name</label>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

